@model MyBelongingsApp.Models.MyTasks

@{
    ViewData["Title"] = "Delete task";
}


<h3>Are you sure you want to delete this task?</h3>
<div>

    <a class="btn btn-dark col-2 d-flex justify-content-start" asp-action="Index"><i class="fa fa-chevron-left" style="padding-top:4px;"></i> &nbsp; &nbsp; Back to List</a>

    <hr />

    <img src="~/images/TasksImgs/@Model.ImgName" id="imgPrev" width="88" height="88" />
    <br /><br />
    <dl class="row">

        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Text)
        </dt>
        <dd class="col-sm-9">
            @Html.DisplayFor(model => model.Text)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.MeantDay)
        </dt>
        <dd class="col-sm-9">
            @Html.DisplayFor(model => model.MeantDay)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.StartTime)
        </dt>
        <dd class="col-sm-9">
            @Html.DisplayFor(model => model.StartTime)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.DeadLine)
        </dt>
        <dd class="col-sm-9">
            @Html.DisplayFor(model => model.DeadLine)
        </dd>

    </dl>
    <br />
    <form asp-action="Delete">
        <input type="hidden" asp-for="MyTaskId" />
        <input type="submit" value="Delete" class="btn btn-danger col-11" />
    </form>
</div>
