@model IEnumerable<MyBelongingsApp.Models.MyTasks>

@{
    ViewData["Title"] = "My Diary";

    List<MyTasks> forToday = new List<MyTasks>();

    List<MyTasks> forTomorrow = new List<MyTasks>();

    List<MyTasks> forFuture = new List<MyTasks>();

    foreach (var task in Model)
    {
        if (task.StartTime.Date == DateTime.Today.Date)
        {
            forToday.Add(task);
        }
        else if (task.StartTime.Date == DateTime.Today.AddDays(1).Date)
        {
            forTomorrow.Add(task);
        }
        else
        {
            forFuture.Add(task);
        }
    }
}

<h1>My Diary</h1>

<p>
    <a class="btn btn-primary" asp-action="Create">Create New</a>
</p>

<div class="container">

    <div class="task-set">
        @if (forToday != null)
        {
            <span class="task-title">Today</span>
            @foreach (var item in forToday)
            {
                if (item.isDone == false)
                {
                    <div class="task-content">
                        <div>
                            @item.Text

                            <img class="task-img" src="~/images/TasksImgs/@item.ImgName" />
                        </div>
                        <div>
                            Start:  @item.StartTime.TimeOfDay
                            &nbsp; &nbsp; &nbsp;
                            Deadline:  @item.DeadLine.TimeOfDay
                        </div>
                    </div>

                    <div class="task-controls">
                        <a class="btn btn-secondary" asp-action="Edit" asp-route-id="@item.MyTaskId">Edit</a> |
                        <span class="DetailsSpan">

                            @Html.ActionLink("Details", "ShowDetails", "MyTasks", new { id = item.MyTaskId }, new
                            {
                             data_ajax = "true",
                             data_ajax_method = "GET",
                             data_ajax_mode = "replace",
                             data_ajax_update = "#myDiv",
                             @class = "btn btn-light"
                            })

                        </span> |
                        <a class="btn btn-success" asp-action="TaskDone" asp-route-id="@item.MyTaskId">Done</a> |
                        <a class="btn btn-danger" asp-action="Delete" asp-route-id="@item.MyTaskId">Delete</a>
                    </div>
                }

            }
        }
    </div>


    <div class="task-set">
        @if (forTomorrow != null)
        {
            <span class="task-title">Tomorrow</span>
            @foreach (var item in forTomorrow)
            {
                if (item.isDone == false)
                {
                    <div class="task-content">
                        <div>
                            @item.Text

                            <img class="task-img" src="~/images/TasksImgs/@item.ImgName" />
                        </div>
                        <div>
                            Start:  @item.StartTime.TimeOfDay
                            &nbsp; &nbsp; &nbsp;
                            Deadline:  @item.DeadLine.TimeOfDay
                        </div>
                    </div>

                    <div class="task-controls">
                        <a class="btn btn-secondary" asp-action="Edit" asp-route-id="@item.MyTaskId">Edit</a> |
                        <span class="DetailsSpan">

                            @Html.ActionLink("Details", "ShowDetails", "MyTasks", new { id = item.MyTaskId }, new
                            {
                             data_ajax = "true",
                             data_ajax_method = "GET",
                             data_ajax_mode = "replace",
                             data_ajax_update = "#myDiv",
                             @class = "btn btn-light"
                            })

                        </span> |
                        <a class="btn btn-success" asp-action="TaskDone" asp-route-id="@item.MyTaskId">Done</a> |
                        <a class="btn btn-danger" asp-action="Delete" asp-route-id="@item.MyTaskId">Delete</a>
                    </div>
                }

            }
        }
    </div>


    <div class="task-set">
        @if (forFuture != null)
        {
            <span class="task-title">Upcoming</span>
            @foreach (var item in forFuture)
            {
                if (item.isDone == false && item.DeadLine > DateTime.Now)
                {
                    <div class="task-content">
                        <div>
                            @item.Text

                            <img class="task-img" src="~/images/TasksImgs/@item.ImgName" />
                        </div>
                        <div>
                            Start:  @item.StartTime
                            &nbsp; &nbsp;
                            Deadline:  @item.DeadLine
                        </div>
                    </div>

                    <div class="task-controls">
                        <a class="btn btn-secondary" asp-action="Edit" asp-route-id="@item.MyTaskId">Edit</a> |
                        <span class="DetailsSpan">

                            @Html.ActionLink("Details", "ShowDetails", "MyTasks", new { id = item.MyTaskId }, new
                            {
                             data_ajax = "true",
                             data_ajax_method = "GET",
                             data_ajax_mode = "replace",
                             data_ajax_update = "#myDiv",
                             @class = "btn btn-light"
                            })

                        </span> |
                        <a class="btn btn-success" asp-action="TaskDone" asp-route-id="@item.MyTaskId">Done</a> |
                        <a class="btn btn-danger" asp-action="Delete" asp-route-id="@item.MyTaskId">Delete</a>
                    </div>
                }

            }
        }
    </div>
    <br /><br /><br />
    <div class="task-set">

        <span class="task-donetitle">Done</span>
        @foreach (var item in Model)
        {
            if (item.isDone == true)
            {
                <div class="task-content">
                    <div>
                        @item.Text

                        <img class="task-img" src="~/images/TasksImgs/@item.ImgName" />
                    </div>
                    <div>
                        Start:  @item.StartTime
                        &nbsp; &nbsp;
                        Deadline:  @item.DeadLine
                    </div>
                </div>

                <div class="task-controls">
                    <span class="DetailsSpan">

                        @Html.ActionLink("Details", "ShowDetails", "MyTasks", new { id = item.MyTaskId }, new
                        {
                         data_ajax = "true",
                         data_ajax_method = "GET",
                         data_ajax_mode = "replace",
                         data_ajax_update = "#myDiv",
                         @class = "btn btn-light"
                        })

                    </span> |
                    <a class="btn btn-danger" asp-action="Delete" asp-route-id="@item.MyTaskId">Delete</a>
                </div>
            }

        }

    </div>


    <div class="task-set">

        <span class="task-notdonetitle">TimeOut!</span>
        @foreach (var item in Model)
        {
            if (item.isDone == false && item.DeadLine < DateTime.Now)
            {
                <div class="task-content">
                    <div>
                        @item.Text

                        <img class="task-img" src="~/images/TasksImgs/@item.ImgName" />
                    </div>
                    <div>
                        Start:  @item.StartTime
                        &nbsp; &nbsp;
                        Deadline:  @item.DeadLine
                    </div>
                </div>

                <div class="task-controls">
                    <span class="DetailsSpan">

                        @Html.ActionLink("Details", "ShowDetails", "MyTasks", new { id = item.MyTaskId }, new
                        {
                         data_ajax = "true",
                         data_ajax_method = "GET",
                         data_ajax_mode = "replace",
                         data_ajax_update = "#myDiv",
                         @class = "btn btn-light"
                        })

                    </span> |
                    <a class="btn btn-danger" asp-action="Delete" asp-route-id="@item.MyTaskId">Delete</a>
                </div>
            }

        }

    </div>


</div>


<!-- The Modal -->
<div id="myDiv" class="DetailsModal">

</div>
